<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API_suite">
  <test thread-count="5" name="API_suite">
    <classes>
      <class name="com.qa.util.TestUtil"/>
      <class name="com.qa.tests.PostCampaign"/> 
      
 
    </classes>
  </test> <!-- API_suite -->
</suite> <!-- API_suite -->
 